#font1 {
  font-size:1000%;
  color:blueviolet;
  font-family:'Times New Roman';
}

#font2 {
  font-size:500%;
  color:red;
  font-family:'Times New Roman';
}

#test {
  font-size: 500%;
  text-align: center;
  color: blue;
  font-family: 'Trebuchet MS'
  ;
}

#paratext {
  font-size: 200%;
  text-align: left;
  color: black;
  font-family: 'Trebuchet MS';
  margin: 0.8;
}
